In [ ]:
'''
1. # write a program to convert specified days into years,weeks,and days take user input 
  # note:ignore lkeap year
''';

In [3]:
num = int (input('enter the number of days'))

years = int(num / 365)
weeks = int((num % 365) / 7)
days = int((num % 365) % 7)

print('total number of years:')
print(years)
print('total number of weeks:')
print(weeks)
print('total number of days:')
print(days)

enter the number of days 45

total number of years:
0
total number of weeks:
6
total number of days:
3

In [ ]:
'''
2.# write a python program to input basic python salary of an employee and calculate its gross salary
according to following:
 basic salary<=10000:hra = 20%, da = 80%
 basic salary<=20000:hra = 30%, da = 90%
 basic salary<=20000:hra = 35%, da = 95%
''';

In [5]:
basic_salary = int(input('enter the basic salary'))
#basic salary<=10000:hra = 20%, da = 80%
if basic_salary <= 10000:
    hra = .20 * basic_salary
    da = .80 * basic_salary
#basic salary<=20000:hra = 30%, da = 90%
elif basic_salary <= 20000:
    hra = .30 * basic_salary
    da = .90 * basic_salary
#basic salary<=20000:hra = 35%, da = 95%
else:
    hra = .35 * basic_salary
    da = .95* basic_salary
gross_salary = basic_salary + hra + da
print('gross salary is :', gross_salary)

enter the basic salary 10000

gross salary is : 20000.0

In [ ]:
'''
3. # write a python program to input electricity unit charge and calculate total electricity bill according to the given 
for first 50 units rs. 0.50/unit
for next 100 units rs. 0.75/unit
for next 150 units rs. 1.25/unit
for unit above 50 units rs. 1.50/unit
an additional surcharge of 17% is added to the bill
''';

In [1]:
electric_units = int(input("enter the units:-"))
print("enter the units:-", electric_units)
if electric_units <= 50:
    t_bill = electric_units * 0.50 + 0.17
    print(t_bill)
elif electric_units <= 100:
    t_bill = electric_units * 0.75 + 0.17
    print(t_bill)
elif electric_units <= 150:
    t_bill = electric_units * 1.25 + 0.17
    print(t_bill)
else :
    if  electric_units > 250:
         t_bill = electric_units * 1.50 + 0.17
         print(t_bill)

enter the units:- 45

enter the units:- 45
22.67

In [ ]:
4. # write a python program to print the given number patterns
1
22
333
4444
55555

In [59]:
row = 5
for i in range(1 , row + 1):
    for j in range(1 , i+1):
        print(i,end = '  ')
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

In [ ]:
5. # write a python program to calculate product of digits of a number. read value of n from user.

In [60]:
num = int(input('enter the number')) 
product = 1
while num != 0:
    product = product * (num % 10 )
    num = int (num / 10)
print ('product of digit is :',num,':',product)

enter the number 123456

product of digit is : 0 : 720

In [ ]:
'''
6. #create list of elements like : x = [ 45,67,12, 'hello', 23.45 , 'world'] and oerfrom following operation:
    1. extract only string values from this list.
    2. create new list with strings in upper case.
    3. find the addition of integer values.
    4. check that the values 56 is present in it or not.
    5. print the list i reverse order.
    6. delete the string 'hello' from it.
    7. insert a new value of 36 at 5th position in list.
    8. count total number of elements in list now.
    9. extract the value from 2nd index to 5th index.
    10. append[34,'pune']to this list.
    11. delete the last element from list.
''';

In [117]:
x = [ 45,67,12, 'hello', 23.45 , 'world']

In [118]:
# extract only string values from this list.
x[3]

'hello'

In [119]:
x[5]

'world'

In [120]:
 # create new list with strings in upper case.
l = ['mayuri', ' shambhavi','jyoti']
a = [ n.upper() for n in l]
print(a, end = '   ')

['MAYURI', ' SHAMBHAVI', 'JYOTI']

In [123]:
# find the addition of integer values.
sum(x)

147.45

In [124]:
 # check that the values 56 is present in it or not.
56 in x

False

In [125]:
# print the list i reverse order.
sorted(x, reverse = True)

[67, 45, 23.45, 12]

In [121]:
# delete the string 'hello' from it.
del x[3]
x

[45, 67, 12, 23.45, 'world']

In [86]:
 # insert a new value of 36 at 5th position in list.
x.insert( 5 , 36)
x

[45, 67, 12, 23.45, 'world', 36]

In [88]:
# count total number of elements in list now.
len(x)

6

In [102]:
# extract the value from 2nd index to 5th index.
x[2:6]

[12, 23.45, 'world']

In [95]:
# append[34,'pune']to this list.
x.append([34,'pune'])
x

[45, 67, 12, 'hello', 23.45, 'world', [34, 'pune']]

In [122]:
 # delete the last element from list.
del x[-1]
x

[45, 67, 12, 23.45]

In [ ]:
'''
7. # create a tuple of elements with 5 float values in it and perform following operations.
      1.print the data in sorted manner.
      2. check to see that the element 50 is present in it.
      3. convert this tuple in set.
''';

In [57]:
t = (23.33,54.76,67.44,50.78,90.32)
t

(23.33, 54.76, 67.44, 50.78, 90.32)

In [54]:
# print the data in sorted manner.
sorted(t,reverse = False)

[23.33, 50.78, 54.76, 67.44, 90.32]

In [56]:
# check to see that the element 50 is present in it.
50 in t

False

In [114]:
# convert this tuple in set.
t = (1,2,3)
s = set(t)
print(t)

(1, 2, 3)

In [ ]:
'''
8. # create a dictionary of elements:{'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}and perfrom following operations
    1. access the data at key 'k'
    2. add a new values 'z':'zebra'
    3. replace the contents of 'd'as'dog'
    4. print all the values from this dictionary
    5. find the length of this dictionary.
''';

In [48]:
d ={'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}

In [34]:
# access the data at key 'k'
d['k']

'king'

In [39]:
 # add a new values 'z':'zebra'
d['z'] = 'zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [41]:
 # replace the contents of 'd'as'dog'
d['d'] = 'dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king'}

In [45]:
  # print all the values from this dictionary
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [49]:
 # find the length of this dictionary.
len(d)

5

In [ ]:
 9. # write a program to find the second largest element in a list.

In [32]:
list_val = []
num_list = int(input('enter the number of elements in list:'))
for i in range(1, num_list + 1):
  element = int(input('enter the elements'))
  list_val.append(element)

list_val.sort()

print('second largest element is:',list_val[-2])

enter the number of elements in list: 5
enter the elements 10
enter the elements 20
enter the elements 30
enter the elements 40
enter the elements 50

second largest element is: 40

In [ ]:
'''
10. # this is a list of some metallic elements:
metals=['silver','gold',....]
make a new list that is almost identical to the metals list.the new contains the same items. in the same order,except that it does not contain the item 
'copper'

In [25]:
metals = ['silver','gold','copper','zinc']
metals1 = ['silver','gold','    ','zinc']

In [26]:
print(metals)

['silver', 'gold', 'copper', 'zinc']

In [27]:
print(metals1)

['silver', 'gold', '    ', 'zinc']