In [1]:
class Employee():
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x00000255386DC2D0>
<__main__.Employee object at 0x00000255386DC690>

In [4]:
# instance variables

emp1.first = 'shambhavi'
emp1.last = 'kalshetty'
emp1.salary = 52000

emp2.first = 'sakshi'
emp2.last ='daphal'
emp2.salary = 54000

In [5]:
print(emp1.first)

shambhavi

In [6]:
print(emp1.salary)

52000

In [34]:
class Employee():
    def __init__(self, first, last, salary):            #init method
        self.first = first
        self.last = last
        self.salary = salary

    def show(self):
        print(self.first + ' ' +'ok')

In [35]:
emp1 = Employee('raj','sharma',48000)

In [36]:
print(emp1.first)

raj

In [37]:
emp2 = Employee('mayuri','kokate',54000)

In [38]:
print(emp2.last)

kokate

In [39]:
emp1.show()

raj ok

In [40]:
emp2.show()

jay ok

In [59]:
# Encapsulation

class Employee1():
    def __init__(self, first, last, salary):            #init method
        self.first = first
        self.last = last
        self.__salary = salary                            # private variable

    def show(self):
        print(self.first + ' ' +'ok')
        
    def show(self):
        print(self.__salary)

In [60]:
emp1 = Employee1('raj','sharma',48000)
emp2 = Employee1('jay','kokate',54000)

In [61]:
emp1.first

'raj'

In [63]:
emp1.show()

48000

In [65]:
# inheritance

class Emp2(Employee1):       # Emp2 => subclass , Employee1 => superclass
    pass

In [66]:
emp3 = Emp2('neha','kulkarni',55000)

In [67]:
emp3.show()

55000

In [ ]:
'''
create a class called person 
attributes=> name,age,city..(make use of default parameters also)
create a method which will show all the info of a person.
''';

In [103]:
class person():
    def __init__(self, n , a = 25):            
        self.name = n
        self.age = a
                               
    def show(self):
        print('name', self.name)
        print('age', self.age)

In [104]:
p1 = person('raj', 25)

In [105]:
p2 = person('jay', 24 )

In [106]:
p1.show()

name raj
age 25